/* amoled.css - Thème AMOLED */

body {
    background-color: #000;
    color: #fff
}

header {
    background-color: #111;
    color: #fff;
}

.Site, .Amphi, .Salle {
    background-color: #111;
    color: #fff;
}

.Site:hover, .Amphi:hover, .Salle:hover {
    background-color: #222;
}

.button{
    background-color: #111;
    color: white;
}

.button:hover{
    background-color: #222;
}

.logo, #GitHub{
    filter: invert(1);
}

.slides a{
    color: white;
}

.navigation a {
    color: white;
}

.navigation a:hover{
    background-color: #292929;
}

.mega-menu{
    background-color: #292929;
}

a{
    color: #60d5e5;
}

.tkt-frr{
    color: #292929;
}

#theme-contenu article div{
    background-color: #111;
}

#theme-contenu article div:hover{
    background-color: #888;
}

.overlay {
    background: linear-gradient(135deg, #000000, #111111);
}

.previsions div{
    background-image: url("../IMAGES/jour-sombre.svg");
    border: white;
}

.previsions div.selected {
    border: 2px solid white;
}

.informations-meteo{    
    text-shadow: 1px 1px 2px #222222;
}