/* amoled.css - Thème AMOLED */

body {
    background-color: #000;
    color: #fff;
}

header {
    background-color: #111;
    color: #fff;
}

.Site, .Amphi, .Salle {
    background-color: #111;
    color: #fff;
}

.Site:hover, .Amphi:hover, .Salle:hover {
    background-color: #222;
}

.button{
    background-color: #111;
    color: white;
}

.button:hover{
    background-color: #222;
}

.logo{
    filter: invert(1);
}

.slides a{
    color: white;
}

#github{
    filter: invert(1);
}

.navigation a {
    color: white;
}

.navigation a:hover{
    background-color: #292929;
}

.mega-menu{
    background-color: #292929;
}

a{
    color: rgb(96, 213, 229);
}


.tkt-frr{
    color: #292929;
}


#theme-contenu article div:hover{
    background-color: #000;
}