/* sombre.css - Thème Sombre */

body {
    background-color: #121212;
    color: #fff;
}

.fixed-header {
    background-color: #1d1f22;
    color: #fff;
}

.Site, .Amphi, .Salle {
    background-color: #1d1f22;
    color: #fff;
}

.Site:hover, .Amphi:hover, .Salle:hover {
    background-color: #2d2f31;
}

.button{
    background-color: #121212;
    color: white;
}

.button:hover{
    background-color: #2d2f31;
}

body::-webkit-scrollbar-track {
    background: #1d1f22;
}
  
body::-webkit-scrollbar-thumb {
    background: #2d2f31;
}

.respons img{
    filter: invert(1);
}

.slides a{
    color: white;
}

#github{
    filter: invert(1);
}