/* style.css - Structure */

*{
    transition: all 0.5s ease-in-out;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    padding-top: 100px;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

/* Header fixe */
.fixed-header {
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-between;
}

.fixed-header.slide-up {
    transform: translateY(-100%);
}

.fixed-header.slide-down {
    transform: translateY(0);
}

/* Horaire */
#clock {
    font-size: 3em;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin: 60px 0 20px;
    font-size: 2em;
}

/* Conteneur des éléments */
.Container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 30px;
}

.Site, .Amphi {
    height: 250px;
    width: 250px;
    border-radius: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}

.Salle{
    height: 250px;
    width: 120px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
}

/* Hover effet */
.Site:hover, .Amphi:hover, .Salle:hover {
    transform: scale(1.05);
}

.info{
    display: none;
}

.Amphi:hover .name{
    display: none;
}

.Amphi:hover .info{
    display: block;
}

.Salle:hover .name{
    display: none;
}

.Salle:hover .info {
    display: block;
}



.Site:hover .name{
    display: none;
}

.Site:hover .info{
    display: block;
    font-size: 20px;
}


.google {
    position: relative;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}

.google::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url('../IMAGES/google-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.google.hovered{
    width: 90%;
    height: 100px;
}

.google.hovered::before {
    opacity: 1;
    left: 5%;
    transform: translate(-50%, -50%) scale(1.5);
}

.google.clicked::before {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.google.clicked{
    background-color: white;
    color: white;
    width: 90%;
    height: 100px;
    scale: 0.9;
}

.amu{
    width: 200px;
    height: 50px;
    transition: all 0.6s ease-in-out;
}

.amu:hover{
    width: 90%;
    height: 100px;
    background-color: #0065e5;
}

.amu:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url('../IMAGES/amu-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
.amu:active{
    background-color: #004298;
}

.amu.hovered::before {
    opacity: 1;
    left: 5%;
    transform: translate(-50%, -50%) scale(1.5);
}

.amu.clicked::before {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.amu.clicked{
    background-color: white;
    color: white;
    width: 90%;
    height: 100px;
    scale: 0.9;
}


.ametice{
    width: 200px;
    height: 50px;
    transition: all 0.6s ease-in-out;
}

.ametice:hover{
    width: 90%;
    height: 100px;
    background-color: #5a0cb9;
}

.ametice:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url('../IMAGES/ametice-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.ametice:active{
    background-color: #370771;
}

.ametice.clicked{
    background-color: white;
    color: white;
    width: 90%;
    height: 100px;
    scale: 0.9;
}


.respons {
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: all 1s ease-in-out;
    font-size: 1.5em;
    display: none;
}

@media (max-width: 768px) {
    .google::before {
        margin-left: 20%;
    }
    .fixed-header{
        align-items: center;
        justify-content: space-around;
    }
    .Site, .Amphi, .Salle {
        width: 40%;
        margin: 10px;
        border-radius: 80px;
        font-size: 1em;
        border-radius: 80px;
        padding: 0;
    }
    .button{
        display: none;
    }
    .respons{
        display: block;
    }

}

.menu {
    display: none;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50px;
    right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu2 {
    display: none;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50px;
    left: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item {
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.05);
}

.button {
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: all 1s ease-in-out;
    
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay div {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay div:hover, .overlay div:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 10%;
    right: 45px;
    font-size: 60px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
}

@media screen and (max-height: 450px) {
    .overlay div {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
