/* style.css - Structure */

*{
    transition: all 0.5s ease-in-out;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    padding-top: 100px;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

ul li{
    list-style-type: none;

}

body::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

/* Header fixe */
header {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigation {
    display: flex;
    flex: 1;
    height: 100px;
}

.navigation a {
    text-decoration: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5em;
}


header.slide-up {
    transform: translateY(-100%);
}

header.slide-down {
    transform: translateY(0);
}

/* Horloge */
#clock {
    font-size: 3em;
    font-weight: bold;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    margin: 10px;
}

h1 {
    text-align: center;
    margin: 60px 0 20px;
    font-size: 2em;
}

/* Conteneur des éléments */
.Container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 30px;
}

.Site, .Amphi {
    height: 250px;
    width: 250px;
    border-radius: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}

.Salle{
    height: 250px;
    width: 120px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
}

/* Hover effet */
.Site:hover, .Amphi:hover, .Salle:hover {
    transform: scale(1.05);
}

.Site:active{
    background-color: #818181;
}

.info{
    display: none;
}

.Amphi:hover .name{
    display: none;
}

.Amphi:hover .info{
    display: block;
}

.Salle:hover .name{
    display: none;
}

.Salle:hover .info {
    display: block;
}



.Site:hover .name{
    display: none;
}

.Site:hover .info{
    display: block;
    font-size: 20px;
}


.google {
    position: relative;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}

.google::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url('../IMAGES/google-logo.webp');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.google.hovered{
    width: 90%;
    height: 100px;
}

.google.hovered::before {
    opacity: 1;
    left: 5%;
    transform: translate(-50%, -50%) scale(1.5);
}

.google.clicked::before {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.google.clicked{
    background-color: white;
    color: white;
    width: 90%;
    height: 100px;
    scale: 0.9;
}

.amu{
    width: 200px;
    height: 50px;
    transition: all 0.6s ease-in-out;
}

.amu:hover{
    width: 90%;
    height: 100px;
    background-color: #0065e5;
}

.amu:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url('../IMAGES/amu-logo.webp');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
.amu:active{
    background-color: #004298;
}

.amu.hovered::before {
    opacity: 1;
    left: 5%;
    transform: translate(-50%, -50%) scale(1.5);
}

.amu.clicked::before {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.amu.clicked{
    background-color: white;
    color: white;
    width: 90%;
    height: 100px;
    scale: 0.9;
}


.ametice{
    width: 200px;
    height: 50px;
    transition: all 0.6s ease-in-out;
}

.ametice:hover{
    width: 90%;
    height: 100px;
    background-color: #5a0cb9;
    color: white;
}

.ametice:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url('../IMAGES/ametice-logo.webp');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.ametice:active{
    background-color: #370771;
}

.ametice.clicked{
    background-color: white;
    color: white;
    width: 90%;
    height: 100px;
    scale: 0.9;
}


.respons {
    display: none;
}

.menu {
    display: none;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50px;
    right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu2 {
    display: none;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50px;
    left: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item {
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.05);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay div {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay div:hover, .overlay div:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 10%;
    right: 45px;
    font-size: 60px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
}

@media screen and (max-height: 450px) {
    .overlay div {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

.logo{
    width: 40px;
    height: 40px;
}

#réseau-info{
    display: flex;
    flex-direction: column;
}

#réseau-info form{
    display: flex;
    flex-direction: column;
    text-align: justify;

}

#Selection-salle {
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selection-menu {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.select-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.réseau-info {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.champ-entree {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.champ-entree:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}


footer{
    padding: 30px;
}

.slides{
    border: 2px solid;
    border-radius: 4px;
    margin: 50px 20px;
    padding: 20px;

}

#github{
    height: 60px;
}

#github:hover{
    height: 70px;
}

.titreSlide{
    margin: 10px;
}

button{
    all: unset;
    margin: 20px;
    cursor: pointer;
}

.disparait{
    display: block;
}

.slides a{
    text-decoration: none;
    border: 1px solid;
    font-size: 2em;
    padding: 10px;
}

footer{
    display: flex;
    border-top: 1px solid;
    margin-top: 20px;
}

footer section{
    width: 33%;
}

iframe{
    border: 0;
}

.tel-header{
    display: flex;
    justify-content: space-between;
}

.mega-menu {
    position: fixed;
    top: 100px;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    display: flex;
    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.mega-menu div{
    margin: 20px;
    text-align: left;
    flex: 1;
}

h4{
    border-top: 1px solid;
}

.mega-menu a {
    margin-left: 10px;
}

#navigation-contenu div{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: justify;
}

.navigation {
    position: relative;
}

a{
    text-decoration: none;
}

#theme-contenu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#theme-contenu article{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#theme-contenu article div{
    display: flex;
    flex: 1;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

#theme-contenu article div:hover{
    border-radius: 20px;
}

@media (max-width: 768px) {
    .mega-menu{
        flex-direction: column;
    }
    .google::before {
        margin-left: 20%;
    }
    header{
        align-items: center;
        justify-content: space-around;
    }
    .Site, .Amphi, .Salle {
        width: 40%;
        margin: 10px;
        border-radius: 80px;
        font-size: 1em;
        border-radius: 80px;
        padding: 0;
    }
    .disparait{
        display: none;
    }
    .respons{
        display: block;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer section{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    .navigation{
        display: none;
    }
    .tel-header{
        width: 100%;
    }
}

.container-calendar{
    flex-direction: column;
    align-items: center;
    width: 90%;
}


#calendar {
    max-width: 90%;
    margin: auto;
    font-size: 1rem;
}

.fc-event {
    white-space: normal !important;
    height: auto !important;
    border-radius: 12px;
    min-height: 50px;
    overflow: hidden;
    padding: 5px;
    position: relative;
}

.salle-info {
    font-size: 0.9em;
    text-align: center;
    margin-top: 5px;
}

.fc-event:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
}

#calendar {
    min-height: 150vh;
}

.fc-timegrid-slot {
    height: 50px !important;
}

.fc-event {
    min-height: 50px !important;
    font-size: 1rem !important;
    padding: 5px !important;
}

.event-details {
    font-size: 1rem !important;
    line-height: 1.5 !important;
    padding: 5px !important;
}

@keyframes clignoter {
    0% {transform : scale(0.8); box-shadow: -10px -10px 20px red, 10px 10px 20px grey; }
    25% { box-shadow: 10px -10px 20px red, -10px 10px 20px grey; }
    50% {transform : scale(1.2); box-shadow: 10px 10px 20px red, -10px -10px 20px grey; }
    75% { box-shadow: -10px 10px 20px red, 10px -10px 20px grey; }
    100% {transform : scale(0.8); box-shadow: -10px -10px 20px red, 10px 10px 20px grey; }
}



/* Couleurs pour les ressources (de R1.01 à R6.20) */
.resource-R1-01 { background-color: #cc66ff !important; }
.resource-R1-02 { background-color: #0099ff !important; }
.resource-R1-03 { background-color: #ffff007b !important; }
.resource-R1-04 { background-color: #ffcc66 !important; }
.resource-R1-05 { background-color: #5f785f !important; }
.resource-R1-06 { background-color: #6ca104 !important; }
.resource-R1-07 { background-color: #7b7b2a !important; }
.resource-R1-08 { background-color: #ff8000 !important; }
.resource-R1-09 { background-color: #cc00cc !important; }
.resource-R1-10 { background-color: #009966 !important; }
.resource-R1-11 { background-color: #0033ff !important; }
.resource-R1-12 { background-color: #ff99ff !important; }

.resource-R1-L-1 { background-color: #00b046 !important;}

.resource-R2-01 { background-color: #cc99ff !important; }
.resource-R2-02 { background-color: #66ccff !important; }
.resource-R2-03 { background-color: #cccc00 !important; }
.resource-R2-04 { background-color: #ffc043 !important; }
.resource-R2-05 { background-color: #4baf4b !important; }
.resource-R2-06 { background-color: #ff8000 !important; }
.resource-R2-07 { background-color: #8acf00 !important; }
.resource-R2-08 { background-color: #808000 !important; }
.resource-R2-09 { background-color: #ff6666 !important; }
.resource-R2-10 { background-color: #9090b2 !important; }
.resource-R2-11 { background-color: #9900cc !important; }
.resource-R2-12 { background-color: #009966 !important; }
.resource-R2-13 { background-color: #0033ff !important; }
.resource-R2-14 { background-color: #ff99ff !important; }

.resource-R3-01 { background-color: #cc66ff !important; }
.resource-R3-02 { background-color: #ff33ff !important; }
.resource-R3-03 { background-color: #ff33ff !important; }
.resource-R3-04 { background-color: #b9b932 !important; }
.resource-R3-05 { background-color: #ff8000 !important; }
.resource-R3-06 { background-color: #ffc042 !important; }
.resource-R3-07 { background-color: #008000 !important; }
.resource-R3-08 { background-color: #6ca104 !important; }
.resource-R3-09 { background-color: #626200 !important; }
.resource-R3-10 { background-color: #ff8000 !important; }
.resource-R3-11 { background-color: #990099 !important; }
.resource-R3-12 { background-color: #009966 !important; }
.resource-R3-13 { background-color: #3366ff !important; }
.resource-R3-14 { background-color: #ff0080 !important; }

.resource-R3-A-L1 { background-color: #00b8b8 !important; }
.resource-S3-A-01 { background-color: #cc6600 !important; }
.resource-R3-B-L { background-color: #00cccc !important; }
.resource-S3-B-01 { background-color: #b9b932 !important ; }

.resource-R4-01 { background-color: #cc66ff !important; }
.resource-R4-02 { background-color: #b7b711 !important; }
.resource-R4-03 { background-color: #66ccff !important; }
.resource-R4-04 { background-color: #90bb38 !important; }
.resource-R4-05 { background-color: #2bbe75 !important; }
.resource-R4-06 { background-color: #3366ff !important; }
.resource-R4-07 { background-color: #ff00ff !important; }

.resource-R4-A-10 { background-color: #87b187 !important; }
.resource-R4-A-11 { background-color: #00cc33 !important; }
.resource-R4-A-12 { background-color: #cdcd00 !important; }

.resource-R4-B-L1 { background-color: #2ac4c4 !important; }

.resource-R4-B-10 { background-color: #cdcd00 !important; }
.resource-R4-B-11 { background-color: #87b187 !important; }
.resource-R4-B-12 { background-color: #00cc66 !important; }

.resource-R4-A-L1 { background-color: #00c2c2 !important; }

.resource-S4-AB-01 { background-color: #cccc00 !important; }
.resource-S4-A-01 { background-color: #cccc00 !important; }
.resource-S4-B-01 { background-color: #cccc00 !important; }
.resource-R4-AB-08 { background-color: #ff9999 !important; }
.resource-R4-AB-09 { background-color: #ff9933 !important; }

.resource-R5-01 { background-color: #ff8000 !important; }
.resource-R5-02 { background-color: #ff6fcf !important; }
.resource-R5-03 { background-color: #3333ff !important; }



.resource-R5-A-04 { background-color: #cc66ff !important; }
.resource-R5-A-05 { background-color: #ff00ff !important; }
.resource-R5-A-06 { background-color: #33ccff !important; }
.resource-R5-A-07 { background-color: #abab08 !important; }
.resource-R5-A-08 { background-color: #ffcc66 !important; }
.resource-R5-A-09 { background-color: #87a287 !important; }
.resource-R5-A-10 { background-color: #008040 !important; }
.resource-R5-A-11 { background-color: #00ff80 !important; }
.resource-R5-A-12 { background-color: #bfbf2f !important; }
.resource-R5-A-13 { background-color: #cc00cc !important; }
.resource-R5-A-14 { background-color: #1dcd1d !important; }

.resource-R5-A-L1 { background-color: #45c6c6 !important; }
.resource-S5-B-01 { background-color: #c3c300 !important; }

.resource-R5-B-04 { background-color: #ff00ff !important; }
.resource-R5-B-05 { background-color: #cbcb08 !important; }
.resource-R5-B-06 { background-color: #cc66ff !important; }
.resource-R5-B-07 { background-color: #91af91 !important; }
.resource-R5-B-08 { background-color: #66ccff !important; }
.resource-R5-B-09 { background-color: #ffcc66 !important; }
.resource-R5-B-10 { background-color: #b7b784 !important; }
.resource-R5-B-11 { background-color: #cc00cc !important; }
.resource-R5-B-12 { background-color: #33ff33 !important; }

.resource-R5-B-L1 { background-color: #45c6c6 !important; }

.resource-R6-01 { background-color: #ff8000 !important; }
.resource-R6-02 { background-color: #ffcc33 !important; }
.resource-R6-03 { background-color: #3333ff !important; }
.resource-R6-04 { background-color: #ff66ff !important; }
.resource-R6-B-05 { background-color: #cc66ff !important; }
.resource-R6-B-06 { background-color: #c3c300 !important; }

.resource-R6-A-05 { background-color: #cc66ff !important; }
.resource-R6-A-06 { background-color: #aeae00 !important; }
.resource-S6-A-01 { background-color: #93bfbf !important; }

.resource-R6-A-L1 { background-color: #00cccc !important; }
.resource-R6-B-L1 { background-color: #00cccc !important; }

.autonomie{ background-color: #7f7fff !important;}
.SAE{ background-color: #99ccff !important;}

.exam-event {
    animation: clignoter 2s infinite;
    background-color: red !important;
}

.fc-event .fc-event-title,
.fc-event .event-details {
    mix-blend-mode: difference;
}
