/* style.css - Structure */

/* Animation universelle
*{
    transition: all 0.5s ease-in-out;
}
*/

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    padding-top: 100px;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

ul li{
    list-style-type: none;

}

body::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

/* Header fixe */
header {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.options{
    display: flex;
    flex-wrap: nowrap;
}

.navigation {
    display: flex;
    flex: 1;
    height: 100px;
}

.navigation a {
    text-decoration: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5em;
}


header.slide-up {
    transform: translateY(-100%);
}

header.slide-down {
    transform: translateY(0);
}

/* Horloge */
#clock {
    font-size: 3em;
    font-weight: bold;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    margin: 10px;
}

h1 {
    text-align: center;
    margin: 60px 0 20px;
    font-size: 2em;
}

/* Conteneur des éléments */
.Container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 30px;
}

.Site, .Amphi {
    height: 250px;
    width: 250px;
    border-radius: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}

.Salle{
    height: 250px;
    width: 120px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
}

/* Hover effet */
.Site:hover, .Amphi:hover, .Salle:hover {
    transform: scale(1.05);
}

.Site:active{
    background-color: #818181;
}

.info{
    display: none;
}

.Amphi:hover .name{
    display: none;
}

.Amphi:hover .info{
    display: block;
}

.Salle:hover .name{
    display: none;
}

.Salle:hover .info {
    display: block;
}



.Site:hover .name{
    display: none;
}

.Site:hover .info{
    display: block;
    font-size: 20px;
}


.google {
    position: relative;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.google::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url('../IMAGES/google-logo.webp');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.google.hovered{
    width: 50%;
    transform: scale(1.5);
}

.google.hovered::before {
    opacity: 1;
    left: 5%;
    transform: translate(-80%, -50%) scale(1.2);
}

.google.clicked::before {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.google.clicked{
    background-color: white;
    color: white;
    width: 90%;
    height: 100px;
    scale: 0.9;
}

.amu{
    width: 300px;
    height: 50px;
    transition: all 0.3s ease-in-out;
}

.amu:hover{
    width: 50%;
    transform: scale(1.5);
    background-color: #0065e5;
}

.amu:active{
    background-color: #004298;
}

.ametice{
    width: 300px;
    height: 50px;
    transition: all 0.3s ease-in-out;
}

.ametice:hover{
    width: 50%;
    transform: scale(1.5);
    background-color: #5a0cb9;
    color: white;
}

.ametice:active{
    background-color: #370771;
}

.edt{
    width: 300px;
    height: 50px;
    transition: all 0.3s ease-in-out;
}

.edt:hover{
    width: 50%;
    transform: scale(1.5);
    background-color: #00d4aa;
    color: white;
}

.respons {
    display: none;
}

.menu {
    display: none;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50px;
    right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu2 {
    display: none;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50px;
    left: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item {
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.05);
}

.overlay {
    height: 100%;
    font-size: 1.5em;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 9999;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    margin-top: 30px;
    text-align: left;
    line-height: 2em;
}

#sous-menu{
    display: none;
}
  
.overlay div {
    padding: 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

  
.overlay .closebtn {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 60px;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
}

.logo{
    width: 40px;
    height: 40px;
    margin: 20px;
}

#réseau-info{
    display: flex;
    flex-direction: column;
}

#réseau-info form{
    display: flex;
    flex-direction: column;
    text-align: justify;

}

#Selection-salle {
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selection-menu {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.select-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.réseau-info {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.champ-entree {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.champ-entree:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}


footer{
    padding: 30px;
}

.slides{
    border: 2px solid;
    border-radius: 4px;
    margin: 50px 20px;
    padding: 20px;

}

#github{
    height: 60px;
    transition: all ease-in-out 0.3s;
}

#github:hover{
    transform: scale(1.1);
}

.titreSlide{
    margin: 10px;
}

button{
    all: unset;
    margin: 20px;
    cursor: pointer;
}

.disparait{
    display: block;
}

.slides a{
    text-decoration: none;
    border: 1px solid;
    font-size: 2em;
    padding: 10px;
}

footer{
    display: flex;
    border-top: 1px solid;
    margin-top: 20px;
}

footer section{
    width: 33%;
}

iframe{
    border: 0;
}

.tel-header{
    display: flex;
    justify-content: space-between;
}

.mega-menu {
    position: fixed;
    top: 100px;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    display: flex;
    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.mega-menu div{
    margin: 20px;
    text-align: left;
    flex: 1;
}

h4{
    border-top: 1px solid;
}

.mega-menu a {
    margin-left: 10px;
}

#navigation-contenu div{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: justify;
    padding: 10px;
}

#navigation-contenu div ul li a{
    font-size: 1.5em;
}

.navigation {
    position: relative;
}

a{
    text-decoration: none;
}

#theme-contenu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#theme-contenu article{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#theme-contenu article div{
    display: flex;
    flex: 1;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
}

@media (max-width: 792px) {
    .mega-menu{
        flex-direction: column;
    }
    .google::before {
        margin-left: 20%;
    }
    header{
        align-items: center;
        justify-content: space-around;
    }
    .Site, .Amphi, .Salle {
        width: 40%;
        margin: 10px;
        border-radius: 80px;
        font-size: 1em;
        border-radius: 80px;
        padding: 0;
    }
    .disparait{
        display: none;
    }
    .respons{
        display: block;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer section{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    .navigation{
        display: none;
    }
    .tel-header{
        width: 100%;
    }
    #clock{
        display: none;
    }
    .navigation{
        height: 20px;
    }
    header{
        height: 5em;
    }
}

.salle-info {
    font-size: 0.9em;
    text-align: center;
    margin-top: 5px;
}

@media (max-width: 1280px) {
    .navigation{
        height: 50px;
    }
    #clock{
        font-size: 2em;
    }
    
}

#ent:hover{
    background-color: #0065e5;
    color: white;
}

#ametice:hover{
    background-color: #5a0cb9;
    color: white;
}

#ent:active{
    background-color: #004298;
}

#ametice:active{
    background-color: #370771;
}

#sous-navbar{
    border-radius: 12px;
    background-color: #00d4aa;
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
    right: 50%;
    height: 50px;
    width: 800px;
}











/* Écran de chargement */

.app {
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(20, 20, 25);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
  }

  .circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url("../IMAGES/Logo_Site.ico");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotatecircle 3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
      infinite;
  }

  .border-circle {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: linear-gradient(to right, blue, purple);
  }

  @keyframes rotatecircle {
    100% {
      transform: rotate(360deg);
    }
  }

  .border-circle-up {
    animation: trackup 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    top: -200px;
  }

  @keyframes trackup {
    0% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(-4rem);
    }
    100% {
      transform: translateY(0rem);
    }
  }

  .border-circle-down {
    top: 200px;
    animation: trackdown 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  }

  @keyframes trackdown {
    0% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(4rem);
    }
    100% {
      transform: translateY(0rem);
    }
  }

  .border-circle-left {
    left: -200px;
    animation: trackleft 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  }

  @keyframes trackleft {
    0% {
      transform: translateX(0rem);
    }
    50% {
      transform: translateX(-4rem);
    }
    100% {
      transform: translateX(0rem);
    }
  }

  .border-circle-right {
    left: auto;
    right: -200px;
    animation: trackright 2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      infinite;
  }

  @keyframes trackright {
    0% {
      transform: translateX(0rem);
    }
    50% {
      transform: translateX(4rem);
    }
    100% {
      transform: translateX(0rem);
    }
  }

  @media (max-width: 792px) {
    .app {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle {
        width: 100px;
        height: 100px;
    }
    .border-circle-up {
        top: -50px;
    }

    .border-circle-down {
        top: 50px;
    }

    .border-circle-left {
        left: -50px;
    }

    .border-circle-right {
        right: -50px;
    }
}
